#interval {
    position:fixed;
    left:10px;
    top:20px;
}

.anime {
 width: 100%;
 height: 100%;
 max-height: 1080px;
 background-color: #E9E3E3;
 position: relative;
}

.anime img {
 display: block;
 position: absolute;
 top: 150px;;
 left: 27%;
z-index: 0;
}

body {
  font-size: 14px;
  font-family: verdana, sans-serif;
  margin: 0;
  width: 375px;
}
.navToggle {
    display: block;
    position: fixed;    /* bodyに対しての絶対位置指定 */
    right: 13px;
    top: 12px;
    width: 42px;
    height: 51px;
    cursor: pointer;
    z-index: 3;
    background: #666;
    text-align: center;
}

.navToggle span {
    display: block;
    position: absolute;    /* .navToggleに対して */
    width: 30px;
    border-bottom: solid 3px #eee;
    -webkit-transition: .35s ease-in-out;
    -moz-transition: .35s ease-in-out;
    transition: .35s ease-in-out;
    left: 6px;
}

.navToggle span:nth-child(1) {
    top: 9px;
}

.navToggle span:nth-child(2) {
    top: 18px;
}

.navToggle span:nth-child(3) {
    top: 27px;
}

.navToggle span:nth-child(4) {
    border: none;
    color: #eee;
    font-size: 9px;
    font-weight: bold;
    top: 34px;
}
/* 最初のspanをマイナス45度に */
.navToggle.active span:nth-child(1) {
    top: 18px;
    left: 6px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

/* 2番目と3番目のspanを45度に */
.navToggle.active span:nth-child(2),
.navToggle.active span:nth-child(3) {
    top: 18px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
}

nav.menu {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background: #FFF;
    color: #000;
    text-align: center;
    /* transform: translateY(-100%); */
    transform: translateX(100%);
    transition: all 2.2s;
    height: 100%;
    width: 100%;
}

nav.menu ul {
    background: #FFF;
    margin: 0 auto;
    padding: 0;
    width: 100%;
}

nav.menu ul li {
    font-size: 1.1em;
    list-style-type: none;
    padding: 0;
    height: 100%;
    width: 100%;

}

/* 最後はラインを描かない */
nav.menu ul li:last-child {
    padding-bottom: 0;
    border-bottom: none;
}

nav.menu ul li a {
    display: block;
    color: #000;
    padding: 1em 0;
    position: relative;
    top: 150px;
}

/* このクラスを、jQueryで付与・削除する */
nav.menu.active {
    transform: translateY(0%);
}

.icon1 {
  position: relative;
  top: 300px;
}

.icon2 {
  position: relative;
  top: 300px;
}

header {
  height: 80px;
}

.header a {
  text-decoration: none;
}

#logo {
  height: 80px;
  width: 160px;
  position: relative;
  left: 30px;
}

.progress {
  height: 600px;
  background-image: url("http://localhost/kobohiraku-n/img/15.jpg");
  background-position: center;
  background-size: 145%;
  margin-bottom: 40px;
}

.about {
  height: 600px;
  background-image: url("http://localhost/kobohiraku-n/img/8.png");
  background-position: center;
  background-size: 220%;
  box-shadow:
  inset 0 0 20px #fff,
  inset 0 0 20px #fff,
  inset 0 0 20px #fff,
  inset 0 0 20px #fff;
  margin-bottom: 40px;
}

.about-box {
  background-color: rgb(255,255,255,0.7);
  height: 525px;
  width: 325px;
  position: relative;
  top: 37.5px;
  left: 25px;
}

.about h1 {
  font-size: 15px;
  font-weight: normal;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  position: relative;
  top: 30px;
  left: 280px;
  border: solid 1px #666;
}

.about h2 {
  font-size: 25px;
  font-weight: normal;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  position: relative;
  top: -115px;
  left: 134.4px;
}

.about p {
  display: inline-block;
  width: 285px;
  /* text-align: center; */
  position: relative;
  top: 0px;
  left: 20px;
  border-top: solid 1px #666;
}

.about-btn {
  position: relative;
  bottom: -100px;
  left: 137.5px;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #D3A371;
  border-radius: 4px;
  box-shadow: inset 0 2px 0 rgba(225,225,225,0.2),inset 0 -2px 0 rgba(0,0,0,0.05);
  border: solid 1px #D3A371;
}

.about a {
  position: relative;
  top: 50px;
  left: 119.5px;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #666;
  border-radius: 4px;
  box-shadow: inset 0 2px 0 rgba(225,225,225,0.2),inset 0 -2px 0 rgba(0,0,0,0.05);
  border: solid 1px #666;
}



.works {
  height: 600px;
  background-image: url("http://localhost/kobohiraku-n/img/8.png");
  background-position: center;
  background-size: 220%;
  box-shadow:
  inset 0 0 20px #fff,
  inset 0 0 20px #fff,
  inset 0 0 20px #fff,
  inset 0 0 20px #fff;
  margin-bottom: 40px;
}

.works-box {
  background-color: rgb(255,255,255,0.7);
  height: 525px;
  width: 325px;
  position: relative;
  top: 37.5px;
  left: 25px;
}

.works h1 {
  font-size: 15px;
  font-weight: normal;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  position: relative;
  top: 30px;
  left: 280px;
  border: solid 1px #666;
}

.works h2 {
  font-size: 25px;
  font-weight: normal;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  position: relative;
  top: -40px;
  left: 134.4px;
}

.works p {
  display: inline-block;
  width: 285px;
  position: relative;
  top: 75px;
  left: 20px;
  border-top: solid 1px #666;
}

.works-btn {
  position: relative;
  bottom: 15px;
  left: 137.5px;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #D3A371;
  border-radius: 4px;
  box-shadow: inset 0 2px 0 rgba(225,225,225,0.2),inset 0 -2px 0 rgba(0,0,0,0.05);
  border: solid 1px #D3A371;
}

.works a {
  position: relative;
  top: 140px;
  left: 119.5px;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #666;
  border-radius: 4px;
  box-shadow: inset 0 2px 0 rgba(225,225,225,0.2),inset 0 -2px 0 rgba(0,0,0,0.05);
  border: solid 1px #666;
}

.order {
  height: 600px;
  background-image: url("http://localhost/kobohiraku-n/img/8.png");
  background-position: center;
  background-size: 220%;
  box-shadow:
  inset 0 0 20px #fff,
  inset 0 0 20px #fff,
  inset 0 0 20px #fff,
  inset 0 0 20px #fff;
  margin-bottom: 40px;
}

.order-box {
  background-color: rgb(255,255,255,0.7);
  height: 525px;
  width: 325px;
  position: relative;
  top: 37.5px;
  left: 25px;
}

.order h1 {
  font-size: 15px;
  font-weight: normal;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  position: relative;
  top: 30px;
  left: 280px;
  border: solid 1px #666;
}

.order h2 {
  font-size: 25px;
  font-weight: normal;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  position: relative;
  top: -40px;
  left: 134.4px;
}

.order p {
  display: inline-block;
  width: 285px;
  position: relative;
  top: 75px;
  left: 20px;
  border-top: solid 1px #666;
}

.order-btn {
  position: relative;
  bottom: 15px;
  left: 137.5px;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #D3A371;
  border-radius: 4px;
  box-shadow: inset 0 2px 0 rgba(225,225,225,0.2),inset 0 -2px 0 rgba(0,0,0,0.05);
  border: solid 1px #D3A371;
}

.order a {
  position: relative;
  top: 125px;
  left: 119.5px;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #666;
  border-radius: 4px;
  box-shadow: inset 0 2px 0 rgba(225,225,225,0.2),inset 0 -2px 0 rgba(0,0,0,0.05);
  border: solid 1px #666;
}

.lesson {
  height: 600px;
  background-image: url("http://localhost/kobohiraku-n/img/8.png");
  background-position: center;
  background-size: 220%;
  box-shadow:
  inset 0 0 20px #fff,
  inset 0 0 20px #fff,
  inset 0 0 20px #fff,
  inset 0 0 20px #fff;
  margin-bottom: 40px;
}

.lesson-box {
  background-color: rgb(255,255,255,0.7);
  height: 525px;
  width: 325px;
  position: relative;
  top: 37.5px;
  left: 25px;
}

.lesson h1 {
  font-size: 15px;
  font-weight: normal;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  position: relative;
  top: 30px;
  left: 280px;
  border: solid 1px #666;
}

.lesson h2 {
  font-size: 25px;
  font-weight: normal;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  position: relative;
  top: -25px;
  left: 134.4px;
}

.lesson p {
  display: inline-block;
  width: 285px;
  position: relative;
  top: 90px;
  left: 20px;
  border-top: solid 1px #666;
}

.lesson-btn {
  position: relative;
  bottom: 15px;
  left: 137.5px;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #D3A371;
  border-radius: 4px;
  box-shadow: inset 0 2px 0 rgba(225,225,225,0.2),inset 0 -2px 0 rgba(0,0,0,0.05);
  border: solid 1px #D3A371;
}

.lesson a {
  position: relative;
  top: 125px;
  left: 119.5px;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #666;
  border-radius: 4px;
  box-shadow: inset 0 2px 0 rgba(225,225,225,0.2),inset 0 -2px 0 rgba(0,0,0,0.05);
  border: solid 1px #666;
}

.iframe-wrapper {
  margin-top: 14px;
  /* background: pink; */
  width: 350px;
  height: 510px;
  position: relative;
  left: 17px;
}

.slick img {
  z-index: 0;
  width: 375px;
  height: 210px;
}

/* .prev {
  width: 40px;
  position: relative;
  top: 228px;
  left: 20px;
  color:#fff;
}

.next {

  width: 40px;
  position: relative;
  left: 320px;
  color: #fff;
} */

.news {
  max-height: 300px;
  background-color: #fff
  margin-bottom: 40px;
}

.news-box {
  height: 300px;
}

.news h1 {
  width: 325px;
  font-weight: normal;
  position: relative;
  top: 25px;
  left: 25px;
  margin: none;
}

.news a {
  color: #666;
  text-decoration: none;
}

.news dl {
  width: 325px;
  position: relative;
  top: 20px;
  left: 25px;
  padding: 5px 0;
  border-bottom: 1px solid #ccc;
}

.news dt {
  padding-bottom: 5px;
}

#pageTop {
  position: fixed;
  bottom: 20px;
  right: 30px;
}

#pageTop i {
  padding-top: 12.25px;
  padding-right: 12.25px;
  position: relative;
  bottom: 10px;
  left: 2.5px;
}

#pageTop a {
  display: block;
  z-index: 999;
  padding: 8px 0 0 8px;
  border-radius: 20px;
  width: 25px;
  height: 25px;
  background-color: #D3A371;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
}

#pageTop a:hover {
  text-decoration: none;
  opacity: 0.7;
}

.footer {
  border-top: 1px solid #D3A371;
  background-image: url("http://localhost/kobohiraku-n/img/footer1.jpg");
}

.footer a {
  text-decoration: none;
}

.footer-title {
  margin-bottom: 0px;
  text-align: center;
  font-size: 10px;
  color: #666;
}

.footer-tel {
  margin-bottom: 0px;
  text-align: center;
  font-size: 10px;
  color: #666;
}

.icon3 {
  position: relative;
  left: 150px;
}

.icon4 {
  position: relative;
  left: 170px;
}

.footer-copyright {
  text-align: center;
  padding: 20px 0;
  font-size: 10px;
  color: #666;
  margin-bottom: 0px;
}

.footer-copyright p {
  margin-bottom: 0px;
}
